<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Notas Fiscais</h2>
    <button (click)="navegarParaCriarNotasFiscaisVenda()" class="btn btn-success btn-sm" aria-label="Cadastrar Nota Fiscal">
      <i class="fas fa-file-invoice"></i> Cadastrar Nota Fiscal
    </button>
  </div>


  <div *ngIf="notasFiscais.length === 0" class="alert alert-warning" role="alert">
    Não há notas fiscais cadastradas.
  </div>
  <div class="table-container">
    <table class="table table-striped table-bordered">
      <thead class="text-center">
        <tr>
          <th>ID</th>
          <th>Cliente</th>
          <th>Nº Documento</th>
          <th>Valor Total</th>
          <th>Status</th>
          <th>Data Emissão</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nota of notasFiscais">
          <td>{{ nota.id }}</td>
          <td>{{ nota.cliente?.nome }}</td>
          <td>{{ nota.numeroDocumento}}</td>
          <td>{{ nota.valorTotal | currency:'BRL' }}</td>
          <td>{{ nota.notaFiscalStatus?.nome }}</td>
          <td class="text-center">{{ nota.dataEmissao | date:'dd/MM/yyyy' }}</td>
          <td class="actions-column text-center">
            <div *ngIf="nota.statusId === 1 && nota.id" class="d-flex justify-content-center gap-2">
              <button class="btn btn-primary btn-sm" (click)="lancarNota(nota.id)" aria-label="Lançar Nota Fiscal">
                <i class="fas fa-check-circle"></i> Lançar
              </button>
              <button class="btn btn-danger btn-sm" (click)="deletarRascunho(nota.id)" aria-label="Deletar Rascunho">
                <i class="fas fa-trash-alt"></i> Deletar
              </button>
              <button (click)="navegarParaEditarNotasFiscaisVenda(nota.id)" class="btn btn-warning btn-sm" aria-label="Editar Rascunho">
                <i class="fas fa-edit"></i> Editar
              </button>
                <button class="btn btn-info btn-sm disabled" aria-label="Visualizar Nota Fiscal">
                <i class="fa-solid fa-eye"></i> Visualizar (Em breve)
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <button (click)="irParaPagina(paginaAtual - 1)" [disabled]="paginaAtual <= 1" class="btn btn-secondary btn-sm me-3" aria-label="Página Anterior">
      <i class="fas fa-arrow-left"></i>
    </button>
    <span class="mx-3 text-center">Página {{ paginaAtual }}</span>
    <button (click)="irParaPagina(paginaAtual + 1)" [disabled]="!temMaisNotas" class="btn btn-secondary btn-sm ms-3" aria-label="Próxima Página">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</div>
